.deck {
    display: grid;
    background-color: white;
    grid-gap: 20px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
}
  .deck::before {
    content: '';
    grid-row: 1 ;
    grid-column: 1;
    padding: 50%;
  }
  .deck > *:first-child{
    grid-row: 1;
    grid-column: 1;
  }
  .card {
    background: orange;
  }
  .container{
      padding: 1%;
  }
  .flipp{
    background-color: yellow;
  }
  .found{
    background-color: red;
  }