.deck {
    display: grid;
    background-color: white;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    left: 30%;
    width: 40%;
    background-color: rgb(47, 86, 233);
    border-color: black;
    border-width: 2.5vh;
    border-style: solid;  
    position: fixed;
    transform: translate(0%,0%);
  }
  body {
    background-color: rgb(144, 158, blue);
    font-family: monospace;
    font-size: 5vh;
    font-weight: bold;
  }
  .card {
    background:rgb(47, 141, 255);
    color:rgb(47, 141, 255);
    margin: 5%;
    text-align: center;
    line-height: 18vh;
    -moz-user-select: none;
    -webkit-user-select: none;  
  }
  .flipp{
    background-color:rgb(110, 255, 255);
  }
  .found{
    opacity: 0;
  }
  .Scoreclass{
    display: grid;
    text-align: center;
    font-size: 100%;
  }